@import './vars';

body {
  margin: 0;
  background-color: #eeeeee;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  max-width: $container-max-width;
  margin: auto;
}
