@import './vars';

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: url('./assets/fonts/Roboto-Bold.woff') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  src: url('./assets/fonts/Roboto-Light.woff') format('woff2');
}

body {
  font-family: 'Roboto', Courier, monospace;
  margin: 0;
  background-color: #eeeeee;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  max-width: $container-max-width;
  margin: auto;
}
